
<%= link_to 'Back', event_edition_path(@event, @edition), class: 'btn btn-primary' %>


    <div class="questions-main-container m-4">
      <% @questions.each do |question| %>
      <div class='question-card-container grid-item'>
        <div>
          <div class="header-question">
            <h2 class = 'text-center'><%= question.content %></h2>
            <%= link_to question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-question' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
          <% if question.answers.size < @edition.guests.size - 1 %>
            <%= link_to 'Send reminder', user_notifications_path(from: 'reminder', user_id: current_user, edition_id: question.edition.id, question: question), method: :post, data: { confirm: "Are you sure?" }, class: 'btn btn-info' %>
          <% end %>
          <% if question.answers.empty? %>
            <h5>Still no guests have answered... 😖</h5>
          <% end %>
          <div class = 'chart-questions d-flex justify-content-center'>
            <%= pie_chart Answer.where(question: question).group(:content).count, legend: false, donut: true, label: "Value" , colors: ["#D95140", "#586a88"], width:"200px", height: "200px"%>

          </div>
        </div>
        <div class="dropdown dropdown-answers">
          <button class="btn btn-secondary dropdown-toggle dropdown-answers" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class = 'dropdown-menu col-12' aria-labelledby="dropdownMenuButton" >
            <% question.answers.each do |answer| %>
              <div class = 'dropdown-item answer-item' >
                <div class = 'd-flex justify-content-between'>
                  <div> <%= answer.content ? "Yes" : "No" %></div>
                  <strong> <%= answer.guest.member.user.first_name %> <%= answer.guest.member.user.last_name %></strong>
                </div>
              </div>
            <% end %>
          </div>
        </div>



      </div>

    <% end %>
  </div>

