<div class="m-4 question-grid">
  <% @edition.questions.each do |question| %>
    <div class="show-main-container p-4">
      <h2><em><%= question.content %></em></h2>

      <% if question.answers.empty? %>
        <h5>Still no guests have answered... 😖</h5>
      <% end %>


      <% question.answers.each do |answer| %>
        <div>
          <p><strong><%= answer.guest.member.user.first_name %> <%= answer.guest.member.user.last_name %></strong> - <%= answer.content ? "Yes" : "No" %></p>

        </div>
      <% end %>

      <% if question.answers.size < @edition.guests.size - 1 %>
        <%= link_to 'Send reminder', root_path, class: 'btn btn-info' %>
      <% end %>
      <%= link_to "Delete question", question_path(question), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
      <%= link_to 'Back', event_edition_path(@event, @edition), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
