<div class="editing-main-container p-4 ">
  <div class = 'event-card' id ='edition-edit'>
    <div id="show-banner" class="d-flex">
      <div class="d-flex justify-content-between flex-column p-0">
        <h1 class="m-0"><strong><%= @edition.name %></strong></h1>
      </div>
    </div>
    <div class="d-flex mt-3">
      <div class = 'col-8'>
        <%= simple_form_for [@event, @edition], method: :patch do |f| %>
          <div class="form-inputs col-12">
            <%= f.input :name %>

            <div class="d-flex justify-content-between">
            <%= f.input :start_time, as: :string, required: false, order: %i(day month year), input_html: {id: "range_start"} %>
            <div class="d-none">
              <%= f.input :end_time, as: :string, required: false, order: %i(day month year), input_html: {id: "range_end"} %>
            </div>
            <%= f.input :status, collection: Edition.statuses.keys, selected: @edition.status, class: 'editing-status ml-3' %>
            <%= f.input :photo, as: :file, required: false %>
            </div>
            <%= f.input :address %>
            <%= f.association :items, input_html: { class: 'select2 form-control items-form col-12' }, label: 'Which items do you need?' %>
            </div>
          <div class="form-actions d-flex mt-3 mb-3">
            <%= f.submit 'Update Event details', class: 'btn btn-primary mr-3' %>
            <%= link_to 'Back', event_edition_path(@event, @edition), class:'btn btn-primary' %>
          </div>
        <% end %>

      </div>

      <div class = 'col-4'>
        <% if current_user.is_host?(@edition) %>
          <%= render partial: 'editions/show-editions/show-notes' %>
        <% end %>
      </div>

    </div>
  </div>
</div>

