<div class="event-card col-8 mx-auto p-4">

  <div class="event-slide d-flex flex-column justify-content-between">
    <h2>New edition of <%= @edition.event.name %>!</h2>
    <div class="d-flex justify-content-center">
      <div id="wheel">
        <canvas id="canvas" width="800" height="800"></canvas>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button id="button-roulette" class="btn btn-lg btn-danger">Spin to pick host!</button>
      <%= simple_form_for [@event, @edition], html: { id: "roulette-form"} do |f| %>

      <% end %>

      <div>
        <ul class="list-inline">
          <% @event.participants.each do |participant| %>
            <li class="user-names" data-name="<%= participant.first_name %>" data-last="<%= participant.last_name %>" data-id="<%= participant.id %>"></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>
