<div class="show-main-container m-4" id="edition-show" data-ongoing="<%= params[:ongoing] %>">

  <!-- BANNER INFO -->
  <!-- BANNER INFO -->
  <!-- BANNER INFO -->
  <div id="show-banner">


    <% if @edition.photo.attached? %>
      <%= cl_image_tag @edition.photo.key, crop: :fill, class: 'edition-banner w-100' %>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80', crop: :fill, class: 'edition-banner w-100' %>
    <% end %>

    <div class="p-4 d-flex h-100">

      <!-- BANNER LEFT -->
      <!-- BANNER LEFT -->
      <!-- BANNER LEFT -->
      <div class="col-8 d-flex justify-content-between flex-column p-0">
        <!-- Edition name -->
        <h1 class="m-0"><strong><%= @edition.name %></strong></h1>

        <!-- Countdown -->
        <% if @edition.active? %>
          <div class="countdown m-0 p-0 text-danger">
            <% days = @edition.countdown == 1 || @edition.countdown == -1 ? 'DAY' : 'DAYS' %>
            <% if @edition.countdown > 0 %>
              <% if @edition.countdown == 1 %>
                <h5><strong><i class="fas fa-hourglass-half"></i> <%= @edition.countdown %> IT'S TOMORROW!</strong></h5>
              <% else %>
                <h5><strong><i class="fas fa-hourglass-half"></i> <%= @edition.countdown %> <%= days %> LEFT</strong></h5>
              <% end %>
            <% elsif @edition.countdown == 0 %>
              <h5><strong><i class="fas fa-hourglass-half"></i> IT'S TODAY!</strong></h5>
            <% else %>
              <% if @edition.countdown == 1 %>
                <h5><strong><i class="fas fa-hourglass-half"></i> STARTED <%= @edition.countdown %> YESTERDAY!</strong></h5>
              <% else %>
                <h5><strong><i class="fas fa-hourglass-half"></i> STARTED <%= @edition.countdown * -1 %> <%= days %> AGO</strong></h5>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="d-flex justify-content-between pr-4">
          <div>
            <!-- Tags -->
            <div class="m-0 d-flex align-items-center">
              <i class="fas fa-tags col-1 text-left mr-2 p-0"></i>
              <% @edition.event.tags.each do |tag| %>
                <div class="text-nowrap border border-primary rounded mr-1 px-1">
                  <%= tag.name %>
                </div>
              <% end %>
            </div>
            <!-- Budget -->
            <div class="m-0 d-flex align-items-center">
              <i class="fas fa-coins col-1 text-left p-0 mr-2"></i>
              <%= @edition.event.budget %> € per person
            </div>
            <!-- Frequency -->
            <div class="m-0 d-flex align-items-center">
              <i class="fas fa-redo col-1 text-left p-0 mr-2"></i>
              <%= @edition.event.frequency %>
            </div>
          </div>
        </div>
      </div>

      <!-- BANNER RIGHT -->
      <!-- BANNER RIGHT -->
      <div class="col-4 p-0 d-flex flex-column justify-content-between">
        <!-- HOST -->
        <div class="show-hosting d-flex justify-content-between align-items-center">
          <div class="m-0 col-8">
            <h3 class="m-0"><i class="fas fa-crown"></i> <%= @edition.host.first_name + ' ' + @edition.host.last_name  %></h3>
            <% if current_user.is_host?(@edition) %>
              <p class="m-0 ml-5">(That's you!)</p>
            <% end %>
          </div>
          <!-- Host Photo -->
          <div class="col-4 text-center p-0">
            <% if User.find(@edition.host_id).photo.attached? %>
              <%= cl_image_tag User.find(@edition.host_id).photo.key, class: "avatar-host text-center p-0" %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-host text-center p-0" %>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <!-- Shows plans -->
          <%= render partial: 'editions/show-editions/show-plans' %>
          <% if current_user.is_host?(@edition) && @edition.host_id.present? %>
            <!-- Edition edit -->
            <%= link_to 'Edit event', edit_event_edition_path(@edition.event, @edition), class: 'btn btn-danger col-4 text-center' %>
          <% end %>
        </div>
        <!-- Rating -->
      </div>
    <!-- </div> -->
  </div>


  <!-- EDITION INFO -->
  <!-- EDITION INFO -->
  <!-- EDITION INFO -->
  <div class="p-4 d-flex justify-content-between">
    <% if @edition.archived? %>
      <!-- Reviews -->
      <%= render partial: 'editions/show-editions/show-reviews' %>
    <% else %>
      <!-- COLUMN ON THE LEFT !!!! -->
      <!-- COLUMN ON THE LEFT !!!! -->
      <!-- COLUMN ON THE LEFT !!!! -->
      <div class="show-column col-3 p-0">

        <!-- Guests for All -->
        <%= render partial: 'editions/show-editions/show-guests' %>

        <!-- List of items -->
        <div class="mt-3">
          <% if @edition.items.any? %>
            <h5>Don't forget to bring</h5>
            <ul class="list-inline">
              <% @edition.items.each do |item|%>
                <li>• <%= item.name.capitalize %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <!-- COLUMN IN THE MIDDLE -->
      <!-- COLUMN IN THE MIDDLE -->
      <!-- COLUMN IN THE MIDDLE -->
      <div class="col-5 px-4 calendar-edition">
        <% if @edition.active? || @edition.archived? %>
          <!-- Calendar -->
          <%= render partial: 'editions/calendar-edition' %>
        <% else %>
          <% if !current_user.is_host?(@edition) %>
            <h1>You're not the Host.</h1>
            <h2><em>Just await instructions.</em></h2>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- COLUMN ON THE RIGHT !!!! -->
    <!-- COLUMN ON THE RIGHT !!!! -->
    <!-- COLUMN ON THE RIGHT !!!! -->
    <div class="show-column col-4 p-0">
      <% if current_user.is_guest?(@edition) %>
        <!-- Surveys Guest -->
        <%= render partial: 'editions/show-editions/show-questions-for-guest' %>
      <% elsif current_user.is_host?(@edition) %>
        <!-- Surveys Host -->
        <%= render partial: 'editions/show-editions/show-questions-for-host' %>
      <% end %>
    </div>
  </div>


  <!-- MAP -->
  <!-- MAP -->
  <!-- MAP -->
  <% if @edition.active? || @edition.archived? %>
    <%= render partial: 'editions/show-editions/show-map' %>
  <% end %>
</div>
