
<div class="show-main-container m-4">
  <div id='cover-picture'>
    <!-- Banner picture -->
    <img src="https://www.f-covers.com/cover/ha-long-bay-vietnam-facebook-cover-timeline-banner-for-fb.jpg" alt="Smiley face" height="300" width="100%">
    <!-- Who's hosting -->
    <div class="show-hosting">
      <% if current_user.is_host?(@edition) && @edition.host_id.present? %>
        <h4> <i class="fas fa-crown"></i>  You're hosting </h4>
      <% elsif @edition.host_id.nil? %>
         <h4> <%= 'No Host' %></h4>
      <% else %>
        <i class="fas fa-crown"></i><h4> <%= @edition.host.first_name + ' ' + @edition.host.last_name  %></h4>
      <% end %>
    </div>
  </div>
  <div class='show-card-container p-4'>
    <div class="d-flex ">
      <!-- COLUMN ON THE LEFT !!!! -->
      <!-- COLUMN ON THE LEFT !!!! -->
      <!-- COLUMN ON THE LEFT !!!! -->
      <div class='show-column col-8'>
        <!-- HEADER -->
        <h2 id ='show-page-title'><%= @edition.name %></h2>

        <div class='show-event-guidelines'>
          <h3>Event guidelines</h3>
          <ul>
            <li><strong>Tags:</strong> <% @edition.event.tags.each do |tag|  %>
              <span class='text-nowrap'><%= tag.name %><%= ', ' unless tag == @edition.event.tags.last%></span>
            <% end %> </li>
            <li><strong>Budget: </strong><%= @edition.event.budget %>€ per person</li>
            <li><strong>Frequency: </strong><%= @edition.event.frequency %></li>
          </ul>
        </div>
        <br>
        <!-- List of items -->
        <div class = 'Items'>
          <h5> Don't forget to bring: </h5>
          <ul>
            <% @edition.items.each do |item|%>
             <li> - <%= item.name %></li>
            <% end %>
          </ul>
        </div>
        <br>
        <!-- Shows plans -->
        <% if @edition.active? || current_user.is_host?(@edition) || @edition.archived?%>
            <%= render partial: 'editions/show-editions/show-plans' %>
        <% elsif @edition.pending? && current_user.is_guest?(@edition) %>
            <h3>The Host is making the preparations</h3>
        <% end %>
        <br>
        <!-- Guests for All -->
        <%= render partial: 'editions/show-editions/show-guests' %>
      </div>


      <!-- COLUMN ON THE RIGHT !!!! -->
      <!-- COLUMN ON THE RIGHT !!!! -->
      <!-- COLUMN ON THE RIGHT !!!! -->
      <div class='show-column col-4'>


        <!-- PENDING EDITION -->
        <% if @edition.pending? %>
          <% if current_user.is_guest?(@edition) %>
            <!-- Surveys GP -->
            <%= render partial: 'editions/show-editions/show-questions-for-guest-pending' %>
          <% elsif current_user.is_host?(@edition) %>
            <!-- Surveys HP -->
            <%= render partial: 'editions/show-editions/show-questions-for-host-pending' %>
            <%= link_to 'See all answers', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
            <%= link_to 'Ask a question', edit_event_edition_path(@edition), class: 'btn btn-danger' %>
            <!-- Notes Host -->
            <%= render partial: 'editions/show-editions/show-notes' %>
          <% end %>
        <% end %>

        <!-- ACTIVE EDITION -->
        <% if @edition.active? %>
          <!-- Countdown -->
          <h2 class='countdown'><%= @edition.countdown %> days left</h2>
          <!-- Map -->
          <%= render partial: 'editions/show-editions/show-map' %>
          <!-- Calendar -->
          <% if @edition.start_time %>
            <%= render partial: 'editions/calendar' %>
          <% end %>

          <% if current_user.is_guest?(@edition) %>
            <!-- Surveys GA -->
            <%= render partial: 'editions/show-editions/show-questions-for-guest-active' %>
          <% elsif current_user.is_host?(@edition) %>
            <!-- Surveys HA -->
            <%= render partial: 'editions/show-editions/show-questions-for-host-active' %>
            <!-- Notes Host -->
            <%= render partial: 'editions/show-editions/show-notes' %>
          <% end %>
          <br>
        <% end %>

        <!-- ARCHIVED EDITION -->
        <% if @edition.archived? %>
          <!-- Map -->
          <%= render partial: 'editions/show-editions/show-map' %>
          <!-- Calendar -->
          <%= render partial: 'editions/calendar' %>

          <% if current_user.is_guest?(@edition) %>
            <!-- Surveys GArch -->
            <%= render partial: 'editions/show-editions/show-questions-for-guest-archived' %> <!-- CREATE VIEW -->
          <% elsif current_user.is_host?(@edition) %>
            <!-- Surveys HArch -->
            <%= render partial: 'editions/show-editions/show-questions-for-host-archived' %> <!-- CREATE VIEW -->
            <!-- Notes Host -->
            <%= render partial: 'editions/show-editions/show-notes' %>
          <% end %>
        <% end %>


      </div>
    </div>
</div>



<!-- TO DO: -->
  <!-- add members to event -->
  <!-- Picking a host on the archived -->






<!-- if past -->
  <!-- name -->
  <!-- guidelines -->
  <!-- guests -->
  <!-- host name -->

  <!-- host rating -->
  <!-- start time -->
  <!-- end time -->
  <!-- address -->
  <!-- map -->
  <!-- rating -->
  <!-- review -->
