<div class="show-main-container m-4" id="edition-show" data-ongoing="<%= params[:ongoing] %>">

  <!-- BANNER INFO -->
  <!-- BANNER INFO -->
  <!-- BANNER INFO -->
  <div id="show-banner" class="p-4 d-flex">
    <div class="col-8 d-flex justify-content-between flex-column p-0">
      <!-- Edition name -->
      <h1 class="m-0"><strong><%= @edition.name %></strong></h1>
      <div class="d-flex justify-content-between pr-4">
        <div>
          <!-- Tags -->
          <div class="m-0 d-flex align-items-center">
            <i class="fas fa-tags col-1 text-left mr-2 p-0"></i>
            <% @edition.event.tags.each do |tag| %>
              <div class="text-nowrap border border-primary rounded mr-1 p-1">
                <%= tag.name %>
              </div>
            <% end %>
          </div>
          <!-- Budget -->
          <div class="m-0 d-flex align-items-center">
            <i class="fas fa-coins col-1 text-left p-0 mr-2"></i>
            <div class="mr-1 p-1">
              <%= @edition.event.budget %> € per person
            </div>
          </div>
          <!-- Frequency -->
          <div class="m-0 d-flex align-items-center">
            <i class="fas fa-redo col-1 text-left p-0 mr-2"></i>
            <div class="mr-1 p-1">
              <%= @edition.event.frequency %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 p-0 d-flex align-items-end">

      <!-- Shows plans -->
      <div class="d-flex justify-content-between">
        <%= render partial: 'editions/show-editions/show-plans' %>
        <div class="d-flex flex-wrap">
          <!-- Countdown -->
          <% if @edition.active? %>
            <div class="countdown m-0">
              <i class="fas fa-stopwatch"></i>
              <h2><%= @edition.countdown %></h2>
              <h5>days left</h5>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Host -->
      <div class="show-hosting d-flex justify-content-between flex-grow">
        <% if current_user.is_host?(@edition) && @edition.host_id.present? %>
          <h4><i class="fas fa-crown"></i> You're the Host!</h4>
          <!-- Edition edit -->
          <%= link_to 'Edit event', edit_event_edition_path(@edition.event, @edition), class: 'btn btn-danger' %>
        <% elsif @edition.host_id.nil? %>
          <h4>No Host is defined.</h4>
        <% else %>
          <i class="fas fa-crown"></i><h4>The Host is <%= @edition.host.first_name + ' ' + @edition.host.last_name  %></h4>
          <!-- Poke Host -->
          <%= link_to 'Poke host', user_notifications_path(@edition.host_id), class: 'btn btn-primary' %>
        <% end %>
      </div>

      <!-- Rating -->
    </div>
  </div>


  <!-- EDITION INFO -->
  <!-- EDITION INFO -->
  <!-- EDITION INFO -->
  <div class="show-card-container p-4 d-flex justify-content-between">
    <% if @edition.archived? %>
      <!-- Reviews -->
      <%= render partial: 'editions/show-editions/show-reviews' %>
    <% else %>
      <!-- COLUMN ON THE LEFT !!!! -->
      <!-- COLUMN ON THE LEFT !!!! -->
      <!-- COLUMN ON THE LEFT !!!! -->
      <div class="show-column col-4 p-0">

        <!-- List of items -->
        <div class='Items'>
          <% if @edition.items.any? %>
            <h5>Don't forget to bring</h5>
            <ul class="list-inline">
              <% @edition.items.each do |item|%>
                <li>• <%= item.name.capitalize %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <!-- Guests for All -->
        <%= render partial: 'editions/show-editions/show-guests' %>
      </div>

      <!-- COLUMN IN THE MIDDLE -->
      <!-- COLUMN IN THE MIDDLE -->
      <!-- COLUMN IN THE MIDDLE -->
      <div class="col-4 px-4 calendar-edition">
        <%# if current_user.is_host?(@edition) %>
          <!-- Notes Host -->
          <%#= render partial: 'editions/show-editions/show-notes' %>
        <%# end %>
        <% if @edition.active? %>
          <!-- Map -->
          <%#= render partial: 'editions/show-editions/show-map' %>
          <!-- Calendar -->
          <%= render partial: 'editions/calendar-edition' %>
        <% end %>
      </div>
    <% end %>

    <!-- COLUMN ON THE RIGHT !!!! -->
    <!-- COLUMN ON THE RIGHT !!!! -->
    <!-- COLUMN ON THE RIGHT !!!! -->
    <div class="show-column col-4 p-0">
      <% if current_user.is_guest?(@edition) %>
        <!-- Surveys Guest -->
        <%= render partial: 'editions/show-editions/show-questions-for-guest' %>
      <% elsif current_user.is_host?(@edition) %>
        <!-- Surveys Host -->
        <%= render partial: 'editions/show-editions/show-questions-for-host' %>
      <% end %>
    </div>
  </div>
</div>
