<div class="show-main-container m-4 mt-md-3" id="edition-show" data-ongoing="<%= params[:ongoing] %>">


  <!-- BANNER INFO -->
  <div id="show-banner">

    <!-- RIBBON -->
    <% if @edition.host_id == current_user.id %>
      <div class="corner-text-wrapper">
        <div class="corner-text">
          <i class="fas fa-crown"></i>
        </div>
      </div>
    <% end %>

    <!-- BACKGROUND -->
    <% if @edition.photo.attached? %>
      <%= cl_image_tag @edition.photo.key, crop: :fill, class: 'edition-banner w-100' %>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80', crop: :fill, class: 'edition-banner w-100' %>
    <% end %>

    <!-- CONTENT -->
    <div class="p-3 p-md-4 d-flex flex-column justify-content-between h-100">

      <!-- Edition name -->
      <div class="banner-top m-0">
        <h1 class="m-0 text-nowrap"><strong><%= @edition.name %></strong></h1>
      </div>

      <div class="d-flex">

        <!-- BANNER LEFT -->
        <div class="col-7 col-sm-8 d-flex justify-content-between flex-column p-0 pr-3 pr-md-4">

          <div class="d-flex justify-content-between">
            <!-- Guests for All -->
            <div class="banner-middle show-guests-div d-flex">
              <%= render partial: 'editions/show-editions/show-guests' %>
            </div>
            <!-- HOST -->
            <div class="banner-middle show-hosting d-flex justify-content-between align-items-center col-4 p-0 avatar-host">
              <% if User.find(@edition.host_id).photo.attached? %>
                <%= cl_image_tag User.find(@edition.host_id).photo.key, class: "text-center p-0" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "text-center p-0" %>
              <% end %>
              <div class="d-flex justify-content-center avatar-host-tag">
                <h3 class="my-0 mx-auto"><strong>HOST</strong></h3>
              </div>
              <!-- Host Photo -->
              <!-- Host Name -->
              <!-- <div class="m-0 p-0 col-8">
                <h4 class="m-0"><%#= @edition.host.first_name %></h4>
                <h4 class="m-0"><%#= @edition.host.last_name %></h4>
              </div> -->
            </div>
          </div>

          <!-- Guidelines -->
          <div class="banner-bottom d-flex flex-column justify-content-between">
            <!-- Tags -->
            <div class="m-0 d-flex align-items-center show-icons">
              <i class="fas fa-tags text-left p-0"></i>
              <div class="d-flex align-items-center overflow-auto">
                <% @edition.event.tags.each do |tag| %>
                  <div class="text-nowrap border border-primary rounded mr-1 px-1">
                    <h4 class="m-0"><%= tag.name %></h4>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- Budget -->
            <div class="m-0 d-flex align-items-center show-icons">
              <i class="fas fa-coins text-left p-0"></i>
              <h4 class="m-0"><%= @edition.event.budget %> € per person</h4>
            </div>
            <!-- Frequency -->
            <div class="m-0 d-flex align-items-center show-icons">
              <i class="fas fa-redo text-left p-0"></i>
              <h4 class="m-0"><%= @edition.event.frequency %></h4>
            </div>
          </div>
        </div>

        <!-- BANNER RIGHT -->
        <div class="col-5 col-sm-4 p-0 d-flex flex-column justify-content-between">

          <!-- Countdown -->
          <div class="banner-top countdown m-0 p-0 text-danger">
            <% if @edition.active? %>
              <% days = @edition.countdown == 1 || @edition.countdown == -1 ? 'DAY' : 'DAYS' %>
              <% if @edition.countdown %>
                <% if @edition.countdown > 0 %>
                  <% if @edition.countdown == 1 %>
                    <% countdown_message = "IT'S TOMORROW!" %>
                  <% else %>
                    <% countdown_message = "#{@edition.countdown} #{days} LEFT!" %>
                  <% end %>
                <% elsif @edition.countdown == 0 %>
                  <% countdown_message = "IT'S TODAY!" %>
                <% else %>
                  <% if @edition.countdown == -1 %>
                    <% countdown_message = "STARTED YESTERDAY." %>
                  <% else %>
                    <% countdown_message = "STARTED #{@edition.countdown * -1} #{days} AGO." %>
                  <% end %>
                <% end %>
              <% end %>
              <h2 class="m-0"><strong><i class="fas fa-hourglass-half"></i> <%= countdown_message %></strong></h2>
            <% end %>
          </div>

          <div class="banner-bottom d-flex flex-column justify-content-between">
            <!-- Shows plans -->
            <%= render partial: 'editions/show-editions/show-plans' %>

            <!-- Edition edit -->
            <%# if current_user.is_host?(@edition) && @edition.host_id.present? %>
              <%#= link_to 'Edit event', edit_event_edition_path(@edition.event, @edition), class: 'btn btn-danger col-4 text-center' %>
            <%# end %>
          </div>
          <!-- Rating -->
        </div>
      </div>
    </div>
  </div>


  <!-- EDITION INFO -->
  <div class="p-4 d-flex justify-content-between">
    <% if @edition.archived? %>
      <!-- Reviews -->
      <%= render partial: 'editions/show-editions/show-reviews' %>
    <% else %>
      <!-- COLUMN ON THE LEFT !!!! -->
      <div class="show-column col-3 p-0">

        <!-- List of items -->
        <div class="mt-3">
          <% if @edition.items.any? %>
            <h5>Don't forget to bring</h5>
            <ul class="list-inline">
              <% @edition.items.each do |item|%>
                <li>• <%= item.name.capitalize %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <!-- COLUMN IN THE MIDDLE -->
      <div class="col-5 px-4 calendar-edition">
        <% if @edition.active? || @edition.archived? %>
          <!-- Calendar -->
          <%= render partial: 'editions/calendar-edition' %>
        <% else %>
          <% if !current_user.is_host?(@edition) %>
            <h1>You're not the Host.</h1>
            <h2><em>Just await instructions.</em></h2>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- COLUMN ON THE RIGHT !!!! -->
    <div class="show-column col-4 p-0">
      <% if current_user.is_guest?(@edition) %>
        <!-- Surveys Guest -->
        <%= render partial: 'editions/show-editions/show-questions-for-guest' %>
      <% elsif current_user.is_host?(@edition) %>
        <!-- Surveys Host -->
        <%= render partial: 'editions/show-editions/show-questions-for-host' %>
      <% end %>
    </div>
  </div>

  <!-- MAP -->
  <% if @edition.active? || @edition.archived? %>
    <%= render partial: 'editions/show-editions/show-map' %>
  <% end %>
</div>
