<div class="card-form-container d-flex justify-content-center">

  <div class="card-show col-lg-8 m-4 p-0 d-flex flex-column flex-md-row">

    <div class="card-show-image col-md-4 p-0 m-0 d-flex align-items-end">

      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'uploaded-image h-100' %>
      <% else %>
        <%= image_tag 'https://media.giphy.com/media/l4KhWPNyLHiB3TjVe/giphy.gif', class: 'uploaded-image h-100' %>
      <% end %>


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'user-simple-form' }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :photo,
                    as: :file,
                    required: false,
                    label: false,
                    input_html: { hidden: true, class: 'hidden-photo-button' } %>
        <div class="btn btn-primary photo-upload-button m-4">Upload Photo</div>
    </div>

    <div class="card-show-info col-md-8 p-4">
      <div class="form-inputs">
        <h3 class="form-title text-simple mb-2 mt-0">Edit your profile</h3>
        <div class="form-grid">
          <%= f.input :first_name,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "first_name" }%>
          <%= f.input :last_name,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "last_name" } %>
        </div>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :date_of_birth,
                    required: false,
                    autofocus: true,
                    order: %i(day month year),
                    start_year: Time.now.year - 100,
                    end_year: Time.now.year,
                    input_html: { autocomplete: "date_of_birth" } %>
        <div class="form-grid">
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      wrapper_html: { class: 'm-0' } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      wrapper_html: { class: 'm-0' } %>
        </div>
        <small class="form-text text-muted mb-3 mt-1">leave it blank if you don't want to change it</small>


        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions d-md-flex justify-content-between">
        <%= f.button :submit, "Update", class: 'btn btn-danger'%>
        <div class="d-flex justify-content-between aux-links">
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-dark' %>
          <%= link_to "Back", :back, class: 'btn btn-success' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
