<div class="card-profile col-8 d-flex m-4">

  <div class="profile-picture col-4 mt-4 mb-4 ml-4">
    <div class="photo-box">
      <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill %>
      <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
      <% end %>
    </div>
    <h1>Check Host Ranking</h1>
    <i class="fas fa-award"></i>
    <h2><%= @user.host_avg_rating %></h2>
  </div>

  <div class="profile-info col-9 mt-4 mb-4 mr-4">


      <i id="edit" class="fas fa-edit"></i>

      <h2>Profile Information</h2>
      <div class="name">
        <i class="fas fa-user-tag"></i>
        <li><%= @user.first_name%> <%= @user.last_name%></li>
      </div>
      <div class="email">
        <i class="far fa-paper-plane"></i>
        <li><%= @user.email%></li>
      </div>
      <div class="birthday">
        <i class="fas fa-birthday-cake"></i>
        <li><%= @user.date_of_birth%></li>
      <div/>
      <div>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-danger" %>
      </div>
  </div>
</div>

