<h3>Surveys from host</h3>
<div>
  <% @edition.questions.each do |question| %>
    <div class="<%= answer_classes(@current_user_answers, question) %>">
      <p class="m-0"><%= question.content %></p>

      <%= form_for [@edition.event, @edition, question, question.answers.find_by(guest: @current_guest) || @answer], html: { class: "d-flex align-items-center" } do |f| %>
        <%= f.radio_button :content, 'true', class: 'radio_buttons answer-hidden', id: "question_true_#{question.id}" %>
        <%= label_tag :content, 'Yes', for: "question_true_#{question.id}", class: 'btn btn-info btn-sm mr-1 mb-0' %>
        <%= f.radio_button :content, 'false', class: 'radio_buttons answer-hidden', id: "question_false_#{question.id}" %>
        <%= label_tag :content, 'No', for: "question_false_#{question.id}", class: 'btn btn-info btn-sm mb-0' %>
      <% end %>

    </div>
  <% end %>
</div>

<script>
  const yesNoRadio = document.querySelectorAll('input[name="answer[content]"]');

  yesNoRadio.forEach(input => {
    input.addEventListener('change', event => {
      const form = event.target.closest('form');
      form.submit();
    });
  });
</script>
