<div id="reviews" class="p-4">

  <% if current_user.is_host?(@edition) %>
    <h4>Check below the reviews for your Hosting 🤙</h4>
    <div id="review-cards">
      <% @edition.reviews.reverse_each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
      <div class="average-rating p-2 d-flex">
        <div class="p-4">
          <h5>Edition Average Rating:</h5>
          <%= @edition[:avg_rating] %>
        </div>
        <div class="p-4">
          <h5>Host Average Rating:</h5>
          <%= @edition[:host_avg_rating] %>
        </div>
      </div>
    </div>
  <% elsif @edition.reviews.blank? %>
    <h4>Be the first to leave a review for <%= @edition.name %></h4>
    <%= render 'reviews/form', edition: @edition, review: @review, guest: @current_guest, event: @event %>
    <div id="review-cards"></div>
  <% else %>
    <%= render 'reviews/form', edition: @edition, review: @review, guest: @current_guest, event: @event %>
    <div id="review-cards">
      <% @edition.reviews.reverse_each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    </div>
  <% end %>

</div>
