<h3>Surveys to guests</h3>
<div>
  <% @edition.questions.each do |question| %>
    <% if question.answers.size == @edition.guests.size - 1 %>
      <%= link_to event_edition_question_path(@edition.event, @edition, question), class: 'question-card d-flex justify-content-between btn btn-info w-100' do %>
        <span><%= question.content %></span>
        <span>Everyone replied</span>
      <% end %>
    <% else %>
      <%= link_to event_edition_question_path(@edition.event, @edition, question), class: 'question-card d-flex justify-content-between btn btn-success w-100' do %>
        <span><%= question.content %></span>
        <span><%= question.answers.size %>/<%= @edition.guests.size %> replies</span>
      <% end %>
    <% end %>
  <% end %>
  <% if @edition.pending? %>
    <%= simple_form_for @question, url: event_edition_questions_path(@edition.event, @edition), html: { class: "d-flex justify-content-between mt-2"} do |f| %>
      <%= f.input :content, label: false, placeholder: 'New survey to guests', wrapper_html: { class: 'm-0 w-100' }%>
      <%= f.submit 'Send', class: 'btn btn-primary ml-2' %>
    <% end %>
  <% end %>
</div>
