<div class="container-padding navbar navbar-expand-sm navbar-light navbar-main d-flex flex-row pr-0">

  <!-- SEARCH BAR -->
  <!-- SEARCH BAR -->
  <!-- SEARCH BAR -->
  <%= render 'shared/search_bar' %>

  <!-- HAMBURGER BUTTON -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- RIGHT PORTION -->
  <!-- RIGHT PORTION -->
  <!-- RIGHT PORTION -->
  <div class="collapse navbar-collapse col-3" id="navbarSupportedContent">

    <!-- NOTIFICATIONS -->
    <%= render 'shared/notifications' %>

    <!-- USER PORTION -->
    <ul class="navbar-nav col-10 p-0 justify-content-end">
      <% if user_signed_in? %>
        <li class="nav-item-name"><%= current_user.first_name %> <%= current_user.last_name.first %>.</li>

        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  // When the user clicks on the button,
  // toggle between hiding and showing the dropdown content
  const notifications = () => {
    document.getElementById("myDropdown").classList.toggle("display-notifications");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('display-notifications')) {
        myDropdown.classList.remove('display-notifications');
      }
    }
  }
</script>
