<div class ='notification-div'>
<% if user_signed_in? %>
  <div class=" notification-bell" onclick="notifications()">
    <% if (current_user.notifications.exists?) %>
      <i class="dropbtn fas fa-bell"><i class="fas fa-circle"></i></i>
      <% else %>
      <i class="dropbtn fas fa-bell"></i>
    <% end %>
  </div>
  <div class="dropdown-content" id="myDropdown">
    <span class = 'd-flex justify-content-between align-items-center m-2'><p>Notifications</p>
      <%= link_to notifications_path, method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt" id = 'icon-notificatin-text'></i>
      <% end %>
    </span>
     <% current_user.notifications.each do |notification| %>
        <% if notification.from == 'active' %>
          <div class = 'd-flex justify-content-between align-items-center dropdown-item dropdown-notification-item'>
            <i class="fas fa-map-marker-alt active-notification"></i>
              <%= link_to send(:event_edition_path, notification.edition.event.id, notification.edition.id) do %>
                <p> <%= notification.edition.name %> is now active!</p>
              <% end %>
          </div>
        <% elsif notification.from == 'began' %>
          <div class = 'd-flex justify-content-between align-items-center dropdown-item dropdown-notification-item'>
            <i class="fas fa-map-marker-alt active-notification"></i>
            <%= link_to send(:event_edition_path, notification.edition.event.id, notification.edition.id) do %>
              <p> You joined <%= notification.edition.name %>!</p>
            <% end %>
          </div>

        <% elsif notification.from == 'host' %>
          <div class = 'd-flex justify-content-between align-items-center dropdown-item dropdown-notification-item'>
            <i class="fas fa-map-marker-alt active-notification"></i>
            <%= link_to send(:event_edition_path, notification.edition.event.id, notification.edition.id) do %>
              <p> You are the host of <%= notification.edition.name %>!</p>
            <% end %>
          </div>

        <% elsif notification.from == 'question' %>
          <div class = 'd-flex justify-content-between align-items-center dropdown-item dropdown-notification-item'>
            <i class="fas fa-question active-notification"></i>
            <%= link_to send(:event_edition_path, notification.edition.event.id, notification.edition.id) do %>
              <p><%= notification.edition.name %> new question!</p>
            <% end %>
          </div>
        <% end %>

     <% end %>
  </div>

<% end  %>

</div>
