<div class="col-9 p-0 d-flex pr-1">
  <% if controller_name == 'pages' && action_name == 'index' %>

    <%= form_tag 'dashboard', method: :get, class: 'form-inline form-shrink-grow' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-shrink-grow",
        placeholder: "Search for an Edition" %>
      <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
    <% end %>

  <% elsif controller_name == 'pages' && action_name == 'past_events' %>

    <%= form_tag 'past-events', method: :get, class: 'form-inline form-shrink-grow' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-shrink-grow",
        placeholder: "Search for an Edition"
      %>
      <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
    <% end %>

  <% end %>
</div>
