<div id="sidenav">
  <%= link_to dashboard_path do %>
    <%= image_tag 'logo_transparent.svg' %>
  <% end %>
  <div id="sidenav-links">
    <%= link_to dashboard_path, class: "sidenav-item" do %>
      <i class="fas fa-th-large col-2"></i>
      <div class="col-6 ml-2 p-0">
        Dashboard
      </div>
    <% end %>
    <%= link_to new_event_path, class: "sidenav-item" do %>
      <i class="fas fa-plus-circle col-2"></i>
      <div class="col-6 ml-2 p-0">
        New Event
      </div>
    <% end %>
    <%= link_to past_events_path, class: "sidenav-item" do %>
      <i class="far fa-clock col-2"></i>
      <div class="col-6 ml-2 p-0">
        Past Events
      </div>
    <% end %>
    <%= link_to calendar_path, class: "sidenav-item" do %>
      <i class="far fa-calendar-alt col-2"></i>
      <div class="col-6 ml-2 p-0">
        Calendar
      </div>
    <% end %>
  </div>
</div>
