<div class="sidenav">
  <%= link_to dashboard_path do %>
    <%= image_tag 'logo_transparent.svg' %>
  <% end %>
  <div id="paths">
     <div class="one"><i class="fas fa-th-large"></i><%= link_to 'Dashboard', dashboard_path %></div>
     <div class="one"><i class="fas fa-user-friends"></i><%= link_to 'Friends', friends_path %></div>
     <div class="one"><i class="fas fa-plus-circle"></i><%= link_to 'New Event', new_event_path %></div>
     <div class="one"><i class="far fa-clock"></i><%= link_to 'Past Events', past_events_path %></div>
     <div class="one"><i class="far fa-calendar-alt"></i><%= link_to 'Calendar', calendar_path %></div>
     <div class="one"><i class="far fa-comment-alt"></i></i></i></i></i></i><%= link_to 'Surveys' %></div>
  </div>
</div>
