<div id="sidenav">
  <%= link_to dashboard_path do %>
    <%= image_tag 'logo_transparent.svg' %>
  <% end %>
  <div id="sidenav-links">
    <div class="sidenav-item">
      <i class="fas fa-th-large col-2"></i>
      <%= link_to 'Dashboard', dashboard_path, class: "col-6" %>
    </div>
    <div class="sidenav-item">
      <i class="fas fa-plus-circle col-2"></i>
      <%= link_to 'New Event', new_event_path, class: "col-6" %>
    </div>
    <div class="sidenav-item">
      <i class="far fa-clock col-2"></i>
      <%= link_to 'Past Events', past_events_path, class: "col-6" %>
    </div>
    <div class="sidenav-item">
      <i class="far fa-calendar-alt col-2"></i>
      <%= link_to 'Calendar', calendar_path, class: "col-6" %>
    </div>
  </div>
</div>
