<div class="sidenav">
  <%= link_to dashboard_path do %>
    <%= image_tag 'logo_transparent.svg' %>
  <% end %>
  <div id="paths">
    <div class="one">
      <i class="fas fa-th-large col-2"></i>
      <%= link_to 'Dashboard', dashboard_path, class: "col-9" %>
    </div>
    <div class="one">
      <i class="fas fa-user-friends col-2"></i>
      <%= link_to 'Friends', friends_path, class: "col-9"  %>
    </div>
    <div class="one">
      <i class="fas fa-plus-circle col-2"></i>
      <%= link_to 'New Event', new_event_path, class: "col-9"  %>
    </div>
    <div class="one">
      <i class="far fa-clock col-2"></i>
      <%= link_to 'Past Events', past_events_path, class: "col-9"  %>
    </div>
    <div class="one">
      <i class="far fa-calendar-alt col-2"></i>
      <%= link_to 'Calendar', calendar_path, class: "col-9"  %>
    </div>
    <div class="one">
      <i class="far fa-comment-alt col-2"></i>
      <%= link_to 'Surveys', class: "col-9"  %>
    </div>
  </div>
</div>
