<div class="sidenav">
  <%= link_to dashboard_path do %>
    <%= image_tag 'logo_transparent.svg' %>
  <% end %>
  <div id="paths">
     <%= link_to 'Dashboard', dashboard_path %>
     <%= link_to 'Friends', friends_path %>
     <%= link_to 'New Event', new_event_path %>
     <%= link_to 'Past Events', past_events_path %>
     <%= link_to 'Calendar', calendar_path %>
     <%= link_to 'Surveys', surveys_path %>
  </div>
</div>
