<div class="sidenav">
  <%= link_to root_path do %>
    <%= image_tag 'logo_transparent.png' %>
  <% end %>
  <div id="paths" class="list-group">
     <%= link_to 'Friends', class:"list-group-item active" %>
     <%= link_to 'Past Events' %>
     <%= link_to 'Calendar' %>
     <%= link_to 'Surveys' %>
  </div>
</div>
