<div class="sidenav">
  <%= link_to root_path do %>
    <%= image_tag 'logo_transparent.png' %>
  <% end %>
  <div id="paths">
     <%= link_to 'Friends' %>
     <%= link_to 'Past Events' %>
     <%= link_to 'Calendar' %>
     <%= link_to 'Surveys' %>
  </div>
</div>
