<div class = 'main-container col-8 mx-auto invite p-4 mt-5' >



  <div class="event-card invite-members-card">
    <div id ='invite-members-banner'>
    </div>
    <div class="content-card-invite p-4 mt-3">
      <h2 class='mb-3'><%= @event.name %></h2>
      <div class = 'event-info-invite'>
       <i class="fas fa-tags text-left p-0 mr-1"></i><span>
          <% @event.tags.each do |tag| %>
           <%= tag.name %>
           <%= ',' unless tag == @event.tags.last %>
          <% end %>
        </span> <br>
         <i class="fas fa-coins text-left p-0 mr-1"></i> <%= @event.budget %> € per person <br>
         <i class="fas fa-redo text-left p-0 mr-1"></i> <%= @event.frequency %>
      </div>

      <br>
      <div class = 'd-flex align-items-center invite-link-card'>
        <p id='secretInfo'><%= request.original_url %></p>
        <button type="button" class ='btn btn-primary button-copy' id="btnCopy">Copy</button>
      </div>
      <p class = 'font-italic mt-1'>Share the link to invite your friends</p>
      <hr>


      <div class="event-slide d-flex flex-column justify-content-between" id="invite-members">
        <h4>Who's coming?</h4>
        <ul class="list-inline" id="member-list" data-event_id="<%= @event.id %>">
          <% @event.participants.each do |user| %>
              <div class = 'd-flex'>
                <%# if user.photo.attached? %>
                  <%#= cl_image_tag user.photo.key, class: 'avatar-large'%>
                <%# else %>
                    <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: 'avatar-large' %>
                <%# end %>
                <li class = 'invited-member'><%= user.first_name %> <%= user.last_name %></li>
              </div>

            <% end %>

        </ul>


        <div class="d-flex justify-content-end">
          <% if @event.participants.include? current_user %>
            <% if @event.editions.last.nil? || @event.editions.last.archived? %>
              <%= link_to 'Pick Host!', new_event_edition_path(@event), class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Ongoing edition!', event_edition_path(@event, @event.editions.last, ongoing: true), class: 'btn btn-danger' %>
            <% end %>
          <% else %>
            <%= simple_form_for [@event, @member] do |f| %>
              <%= f.submit 'Join Event', class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var $body = document.getElementsByTagName('body')[0];
  var $btnCopy = document.getElementById('btnCopy');
  var secretInfo = document.getElementById('secretInfo').innerHTML;

  var copyToClipboard = function(secretInfo) {
    var $tempInput = document.createElement('INPUT');
    $body.appendChild($tempInput);
    $tempInput.setAttribute('value', secretInfo)
    $tempInput.select();
    document.execCommand('copy');
    $body.removeChild($tempInput);
    btnCopy.innerHTML = 'Copied'
  }

  $btnCopy.addEventListener('click', function(ev) {
    copyToClipboard(secretInfo);
  });
</script>
