<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Host Roulette</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if action_name == 'home' %>
      <%= yield %>
    <% elsif controller_name == 'registrations' && action_name == 'new' %>
      <%= yield %>
      <body class="body-background-user">
    <% elsif controller_name == 'sessions' && action_name == 'new' %>
      <%= yield %>
      <body class="body-background-user">
    <% else %>
      <%= render 'shared/sidebar' %>
      <div class="container-margin">
        <%= yield %>
      </div>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
