<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Host Roulette</title>
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/sidebar' %>
    <%= render 'shared/flashes' %>

    <div class="container-margin">
      <%= yield %>
    </div>

    <%= jquery_include_tag :google %>
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


    <script>
      $("#form-carousel").owlCarousel({
        ltr:true,
        dots: false,
        nav: true,
        navText: ["back", "next"],
        navContainerClass: 'd-flex justify-content-between',
        navClass: ["owl-prev btn btn-success", "owl-next btn btn-primary"],
        touchDrag: true,
        mouseDrag: true,
        items: 1,
        center: true,
        margin: 24,
        responsiveClass: true,
        responsive: {
          0: {
              items: 1,
          },
          500: {
              items: 1,
          },
          5000: {
              items: 1,
          }
        }
      });
    </script>
  </body>
</html>
